@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css?family=Bitter|Faustina|Kreon');

body {
    /* background-image: linear-gradient(-120deg, #cef8e8 50%, #b4faff 50%); */
    height: 100%;
    width: 100%;
}

.form-overlay {
    width: 500px;
    height: auto;
    min-height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    border-radius: 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

.login-form {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header>h2 {
    font-family: Bitter;
    font-size: 21pt;
    font-weight: 800;
    margin: 10px;
}

header>p {
    font-family: Bitter;
    font-size: 15pt;
    font-weight: 400;
    margin: 5px;
    letter-spacing: 0.02em;
}

.fields {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-set {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    /* border: 2px solid blue; */
    border-radius: 10px;
    background: #fff;
    height: 45px;
    width: 90%;
    padding: 8px;
    transition: 0.2s linear;
}

.form-input {
    font-family: Faustina;
    font-size: 12pt;
    font-weight: 700;
    border: none;
    outline: none;
    background: none;
    margin-left: 10px;
}

.errors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.error-message {
    font-family: Faustina;
    font-size: 13pt;
    font-weight: 700;
    color: #ff0202;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
}

.login-btn {
    display: inline-block;
    color: #191934;
    width: 280px;
    font-size: 12pt;
    height: 50px;
    padding: 0 20px;
    background: #B8F2E6;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    /* transition: all 0.2s linear; */
    letter-spacing: 0.05em;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    border: none;
    padding: 0;
    background: none;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}